<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Tag</th>
      <th></th>
      <th></th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><%= link_to(book.user) do %>
          <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>
        <td>
          <%= link_to book.tags.map(&:name).join(', ') %> <!--配列になっているtagsを一つずつ取り出して表示する -->
        </td>
        <td id="favorite_btn_<%= @book.id %>">
          <%= render '/favorites/favorite', book: book %>
        </td>
        <td>
          コメント数:<%= book.book_comments.count %>
        </td>
        <td>
          閲覧数: <%= book.impressions_count %>
        </td>
        <td>
          <div id="index_raty_<%= book.id %>"></div>
          <script>
            $('#index_raty_<%= book.id %>').empty(); //一旦星を空にする（prev,nextの星増殖対策)
            // scriptファイルをどのidの部分に配置するかを指定
            var elem = document.querySelector('#index_raty_<%= book.id %>');
            var opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%=asset_path('star-half.png') %>",
              readOnly: true,
              score: <%= book.evaluation %>
             };
            raty(elem,opt);
          </script>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
